{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<section id="nav-bar">
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'home:home_page' %}"><img src="{% static 'images/logo.jpg' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SEARCH
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'home:searchClass' %}">Class</a>
                <a class="dropdown-item" href="{% url 'home:searchStudent' %}">Student</a>
                <a class="dropdown-item" href="{% url 'home:searchTeacher' %}">Teacher</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:home_page' %}">HOME</a>
        </li>
      </ul>
    </div>
</nav>
</section>

<section id="search">
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="search-input">
                Search Class
                <input type="text" name="searchClass" id="search1" class="searching" placeholder="Nhập tên/mã lớp">
                <button type="submit" name="find" class="btn btn-primary">Find</button>
            </div>
        </form>

        <table class="table table-bordered">
            <thread>
                <tr>
                    <th>STT</th>
                    <th>Lớp</th>
                    <th>Mã lớp</th>
                    <th>Giáo viên</th>
                    <th>Sĩ số</th>
                    <th>Phòng học</th>
                    <th>Thời gian</th>
                    <th>Ghi chú</th>
                </tr>
            </thread>

            <tbody>
                {% for data in courseData %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{data.courseName}}</td>
                        <td>{{data.courseID}}</td>
                        <td>{{data.manageTeacher.teacherName}}</td>
                        <td>{{data.studentNumber}}</td>
                        <td>{{data.studyRoom}}</td>
                        <td>{{data.schedule}}</td>
                        <td>
                            {% if data.note %}
                                {{data.note}}
                            {% else %}
                                {{"Nothing"}}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination pull-right">
                {% if courseData.has_previous %}
                    <li><a href="?page={{ courseData.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% if courseData.number > 3 %}
                    <li><a href="?page=1"><i>1</i></a></li>
                {% endif %}

                {% for i in courseData.paginator.page_range %}
                    {% if i > courseData.number|add:"-3" %}
                        {% if i < courseData.number|add:"3" %}
                            {% if courseData.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if courseData.number < courseData.paginator.num_pages|add:"-3" %}
                    <li><a href="?page={{ courseData.paginator.num_pages }}"><i>{{ courseData.paginator.num_pages }}</i></a></li>
                {% endif %}

                {% if courseData.has_next %}
                    <li><a href="?page={{ courseData.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>
</body>
</html>