*{
    margin: 0;
    padding: 0;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 50px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*login*/
#login
{
    background-color: #dddddd;
    min-height: 300px;
    padding: 7.5px 15px;
    align-items: center;
    text-align: center;
}
#login login-form{
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
.login-form h2{
    color: #009999;
    font-size: 20px;
    margin-bottom: 30px;
}
.form-group
{
    margin-bottom: 20px;
}
.form-group .form-control{
    width: 30%;
    margin-left: 400px;
    border: 1px solid #cccccc;
}
.form-check
{
    margin-right: 200px;
}
.btn{
    
    margin-left: 300px;
}
.login-form button{
    border-radius: 10px;
    background-color: #2f2cd6;
    color: #ffffff;
}