*{
    margin: 0;
    padding: 0;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
#nav-bar nav.bg-dark
{
    background-color: white!important;
}
.navbar-brand img
{
    height: 50px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*slider*/
#slider
{
    width: 100%;
}
.d-block
{
    width: 100%;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color: black;
    font-size: 40px;
}

/*about*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content
{
    padding-top: 20px;
}

/*review*/
#review
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #ddd;
}
#review h2::after
{
    content: '';
    background: #715ce7;
    display: block;
    height: 3px;
    width: 190px;
    margin: 10px auto 5px;
}
.review-box-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.review-box
{
    width: 500px;
    box-shadow: 2px 2px 30px rgb(134, 134, 204);
    background-color: oldlace;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile 
{
    display: flex;
    align-items: center;
}
.profile-img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.name
{
    display: flex;
    flex-direction: column;
}
.name strong
{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name span
{
    color: #979797;
    font-size: 0.8rem;
}
.reviews
{
    color: #f9d71c;
}
.box-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.comments
{
    font-size: 0.9rem;
    color: #4b4b4b
}

/*contact*/
#contact
{
    background: #c9e6eb;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
#contact h2
{
    text-align: center;
    color: #333 !important;
    padding-bottom: 10px;
}
#contact h2::after
{
    content: '';
    background: #715ce7;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
    color: #999;
}
#status
{
    color: red;
    font-weight: bold;
    margin-left: 15px;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;;
}
.contact-info .fa
{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}

/*footer*/
#footer
{
    background: #333;
    color: #fff;
    padding: 5px;
}

/*search*/
#search
{
    height: 549px;
    background-color: rgb(198, 235, 224);
}
.search-input
{
    margin-bottom: 30px;
    font-weight: bold;
}
.search-input input
{
    width: 30%;
}
.searching
{
    padding: 0.5px;
}
.search-input button
{
    margin-left: 10px;
}
#search table
{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#search h1
{
    text-align: center;
    font-size: 30px;
    color: rgb(134, 134, 204);
    margin-bottom: 30px;
}
.table td, .table th
{
    padding: 12px 15px;
    border: 1.5px solid #ddd;
    text-align: center; 
    font-size: 14px;
}
.table th
{
    background-color: rgb(60, 96, 194);
    color: white;
}
.table tbody tr
{
    background-color: #f5f5f5;
}

::selection
{
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
}



